body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculate-buttons{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
}


#ans{
    height: 100px;
    width: 100px;
}