body{
    margin: 2rem;
    text-align: center ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }